<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardgame</title>
    <link rel="stylesheet" href="./assets/css/style.css"></link>
    <script src="./assets/js/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
</head>
<body>
    <div id="app">
        <h1>Jeu de cartes</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Description</th>
                    <th>Power</th>
                    <th>Attack</th>
                    <th>Armor</th>
                    <th>Damage</th>
                    <th>Mitigation</th>
                    <th>Played</th>
                    <th>Victory</th>
                    <th>Defeat</th>
                    <th>Draw</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="card of cards">
                    <td>{{ card.id }}</td>
                    <td>{{ card.name }}</td>
                    <td>{{ card.level }}</td>
                    
                    <td v-if="card.description">{{ card.description }}</td>
                    <td v-else>Pas de description</td>
                    
                    <td>{{ card.power }}</td>
                    <td>{{ card.attack }}</td>
                    <td>{{ card.armor }}</td>
                    <td>{{ card.damage }}</td>
                    <td>{{ card.mitigation }}</td>
                    <td>{{ card.played }}</td>
                    <td>{{ card.victory }}</td>
                    <td>{{ card.defeat }}</td>
                    <td>{{ card.draw }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>